@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper {
  width: 100%;
  height: 260px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
}

.swiper-slide img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  transform: scale(0.6);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet-active {
  background: #b99d10;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
